.c-export {
  &__content {
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;

    &-left {
      max-width: 457px;
    }
    &-right {
      max-width: 526px;
      &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 571px;
      }
      &-detail {
        max-height: 342px;
        &-information {
          &-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
          }
          &-content {
            max-height: 186px;
            width: 420px;
            max-width: 420px;
          }
          &-author {
            display: flex;
            &-avatar {
              width: 42px;
              height: 42px;
              border-radius: 50%;
            }

            &-detail {
              margin-left: 10px;
            }

            &-name {
              font-size: 18px;
              line-height: 21px;
              color: #5B5147;
            }

            &-followers {
              font-size: 14px;
              line-height: 16px;
              color: #5B5147;
              mix-blend-mode: normal;
              opacity: 0.5;
            }
          }

          &-post {
            margin-top: 10px;
            font-size: 15px;
            line-height: 21px;

            color: #5B5147;
          }

          &-metric {
            margin-top: 10px;
            &-item {
              background: #FFFFFF;
              box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
              border-radius: 5px;
              max-width: 105px;
              max-height: 60px;
              text-align: center;
              margin: 7px;
              &-title {
                font-size: 12px;
                line-height: 16px;
                color: #5B5147;
                mix-blend-mode: normal;
                opacity: 0.5;
                margin-bottom: 5px;
              }

              &-number {
                font-size: 20px;
                line-height: 23px;
                letter-spacing: -1px;
                color: #5B5147;
              }
            }
          }
        }
      }
    }

    &-item {
      margin: 0 auto;

      &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: -1px;
        margin-bottom: 20px;

        color: #5B5147;
      }

      &-text {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        color: #5B5147;
        padding-bottom: 30px;
      }
    }
  }
}