.c-roi {
  background-color: #F5F0EC;
  &__content {
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;

    &-left {
      max-width: 457px;
    }
    &-right {
      max-width: 526px;

      &-select {
        text-align: right;
        P {
          font-size: 16px;
          line-height: 19px;
          color: #5B5147;
        }
      }
    }

    &-item {
      margin: 0 auto;

      &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: -1px;
        margin-bottom: 20px;

        color: #5B5147;
      }

      &-text {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        color: #5B5147;
        padding-bottom: 30px;
      }
    }
  }
}